- render :layout => "dashboard/subheader", :locals => {:title => "ToDos"} do; end
.todos
  %ul.striped
    - todos.each do |todo|
      %li
        %span.note= todo.priority.name unless todo.priority.nil?
        = todo.description
  .more
    - form_for :todo, :url => customer_todos_url(customer), :method => :post do |f|
      = collection_select "todo", "priority_id", priorities, :id, :name
      = f.text_field :description
      = f.submit "add"
