%h1= "#{@customer.name}'s Invoices"

%table
  %tr
    %td Description
    %td Due
    %td Total Hours
    %td Total Owed
  - @invoices.each do |invoice|
    %tr
      %td= link_to invoice.description, customer_invoice_url(@customer, invoice)
      %td= invoice.due_at
      %td= invoice.total_hours
      %td= invoice.total_owed

= link_to "New Invoice", new_customer_invoice_url(@customer)
